body {
    margin: 0;
}

.header__container {
    height: 88px;
    margin: 0 auto;
    border-bottom: solid #D9FFF5;
}

.header__line {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 88px;
}

.header__button--burger {
    background-image: url(img/icon1.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.header__button--repair {
    background-image: url(img/icon3.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.header__button--check {
    background-image: url(img/icon2.svg);
    background-repeat: no-repeat;
    background-position: center center;
}


.header__button--burger,
.header__button--repair,
.header__button--check
 {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    border: 0px;
    background-color: #FF3E79;
}

.header__divider {
    border: 1px solid #EAEAEA;
    height: 32px;
}

.container {
    height: 560px;
    margin: 0 auto;
    background: #F8F8F8;
}

.container__title::before {
    content: url(img/highlight.svg);
    padding-right: 12px;
}



.menu__text {
    font-family: "TTlakesmedium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    color: #7E7E82;
    flex: 1 1 auto;
    margin-bottom: 10px;
    margin-left: 20px;
    border: 0;
    background-color: transparent;
}

.menu__text:hover {
    background-color: #ffffff;
    border-radius: 6px;
    outline: 2px solid #B8FFEC
}

.menu__text:active {
    background-color: #ffffff;
    border-radius: 6px;
    outline: 2px solid #B8FFEC;
    box-shadow: 0 0 10px #B8FFEC;
}

.info__container {
    font-family: "TTlakesmedium";
    width: 320px;
    padding-top: 14px;
    padding-bottom: 16px;
}

.info-text {
    width:288px;
    height: 115px;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.info-button {
    width: 132px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    height: 24px;
    font-family: "TTlakesmedium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    border: 0px;
    background-color: transparent;
}

.info-button::before {
    content: url(img/icon\ readmore.svg);
}

@media screen and (max-width: 768px) {
    
    .container__title {
        font-family: "TTLakesBold";
        width: 304px;
        height: 40px;
        display: inline-flex;
        justify-content: left;
        padding-top: 24px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6000000238418579px;
    }
    
    .container__repair,
    .container__check {
    display: none;
    }

    .header__button--call,
    .header__button--chat,
    .header__button--profile,
    .header__space {
    display: none;
    }

    .container__space,
    .container__button--repair,
    .container__button--check {
    display: none;
    }

    .info {
        margin: 0 auto;
        padding: 0 0 16px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu {
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: auto;
        scrollbar-width: none;
        padding-top: 24px;
        padding-left: 16px;
    }

    .picture {
        width: 320px;
        height: 178px;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1119px) {
    .header__line {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-right: 24px;
        height: 88px;
    }
    
    .header__divider {
        display: none;
    }

    .header__divider1120px {
        border: 1px solid #EAEAEA;
        height: 32px;
    }

    .header__space {
        flex-grow: 0.6;
    }

    .container__repair,
    .container__check {
    display: none;
    }

    .header__button--call {
        background-image: url(img/call.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }

    .header__button--chat {
        background-image: url(img/Chat.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }

    .header__button--profile {
        background-image: url(img/Profile.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }

    .header__button--call,
    .header__button--chat,
    .header__button--profile {

        border-radius: 20px;
        width: 40px;
        height: 40px;
        border: 0px;
        background-color: #FF3E79;
    }

    .container {
        height: 416px;
        margin: 0 auto;
        background: #F8F8F8;
    }
    
    .container__title {
        font-family: "TTLakesBold";
        width: 257px;
        height: 40px;
        display: inline-flex;
        justify-content: left;
        padding-top: 24px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6000000238418579px;
    }

    .container__space,
    .container__button--repair,
    .container__button--check {
    display: none;
    }

    .menu {
        height: 40px;
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: auto;
        scrollbar-width: none;
        padding-top: 32px;
        padding-left: 24px;
    }
 
    .info {
        height: 208px;
        padding-top: 32px;
        display: flex;
        justify-content: space-around;
    }
    
    .info__container {
        font-family: "TTlakesmedium";
        width: 320px;
        height: 208px;
    }
    
    .info-text {
        width: 312px;
        height: 173px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
    }
    
    .picture {
        align-items: center;
        width: 320px;
        height: 175px;
        border-radius: 10px 0 0 10px;
    }
}

@media screen and (min-width: 1120px) {

    header {
        display: none
    }

    .container {
        width: 1120px;
        margin: 0 auto;
        background: #F8F8F8;
    }
    
    .container__title {
        font-family: "TTLakesBold";
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6000000238418579px;
        padding-right: 32px;
    }
    
    .container__title::before {
        content: url(img/highlight.svg);
    }

    .container__space {
        flex-grow: 0.7;
    }

    .container__repair,
    .container__check {
        font-family: "TTlakesmedium";
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        text-align: right;
        
    }

    .container__button--repair{
        background-image: url(img/icon3.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }

    .container__button--check{
        background-image: url(img/icon2.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }

    .container__button--repair,
    .container__button--check {
        border-radius: 20px;
        width: 40px;
        height: 40px;
        border: 0px;
        background-color: #FF3E79;
    }

    .menu {
        width: 1063px;
        padding-left: 45px;
    }
    
    .info {
        width: 1120px;
        height: 375px;
        display: flex;
        justify-content: space-evenly;
    }

    .info__container {
        flex-grow: 0.9;
        font-family: "TTlakesmedium";
    }
    
    .info-text {
        width: auto;
        height: auto;
        flex-grow: 0.9;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
    }

    .picture {
        align-items: center;
        background-repeat: no-repeat;
        width: 531px;
        height: 307px;
        border-radius: 10px 0 0 10px;
    }
}
    
@font-face {
    font-family: "TTLakesLight";
    src: url(Fonts/TTLakes-Light.woff) format("woff");
}

@font-face {
    font-family: "TTLakesMedium";
    src: url(Fonts/TTLakes-Regular.woff) format("woff");
}

@font-face {
    font-family: "TTLakesBold";
    src: url(Fonts/TTLakes-Bold.woff) format("woff");
}
